@import url("../palette/waybar/colors.css");

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    border-radius: 12px;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

#pulseaudio:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.4);
}

#workspaces button.active {
    box-shadow: inset 0 -2px #ffffff;
    font-weight: bold;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#custom-packages,
#network {
    margin-right: 50px;
}

#custom-kernel,
#temperature,
#cpu,
#memory,
#pulseaudio {
    margin-right: 10px;
}

#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

label:focus {
    background-color: #000000;
}

#custom-calendar {
    color: #ebebeb;
}

#custom-kernel {
    color: @red;
}

#custom-packages {
    color: @cyan;
}

#cpu {
    color: @green;
}

#memory {
    color: @magenta;
}

#network {
    color: @blue;
}

#network.disconnected {
    color: @light_red;
}

#pulseaudio {
    color: @light_yellow;
}

#pulseaudio.muted {
    color: @light_cyan;
}

#temperature {
    color: @light_yellow;
}

#temperature.critical {
    color: @light_red;
}

